<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}} Slapjack by Sally Ma</title>
  {{!-- <link href="/bootstrap.united.min.css" rel="stylesheet"> --}}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

  {{!-- <link rel="icon" type="image/x-icon" href="/favicon.ico"> --}}
  {{!-- <style>
    body {
      padding-top: 60px;
    }
  </style> --}}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top" id="horizons-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        {{!-- <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> --}}
        <p class="navbar-brand">Slapjack</p>
        
      </div>
    </div>
  </nav>
  <br>
  <div class="container">
    {{!-- <div class="row"> --}}
      <div class="col-xs-offset-2">
        {{{body}}}
      </div>
    {{!-- </div> --}}
  </div>
  {{!-- <script src="/jquery.min.js"></script> --}}
  {{!-- <script src="/bootstrap.min.js"></script>
  <script src="/bootstrap3-typeahead.min.js"></script> --}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/script.js"></script>
</body>
</html>
