<h1>Rules</h1>
<br>
<a href="/" class="btn btn-outline-secondary" role="button">Back to Game Room</a>
<br><hr><br>
<div class="container" style="width: 80%">
  <p>
    <ul style="line-height:200%">
      <li>In Slapjack, the objective of the game is to win the entire deck of cards (52 cards).</li>
      <li>At the beginning of a game of Slapjack, each player is dealt an equal number of cards facedown (players are not able to see their own cards or anyone else's cards).</li>
      <li>
        If the number of players does not divide 52, then a few players might get additional cards. For example, players in a 3-player game will have 17, 17, and 18 cards.
      </li>
      <li>
        Players will then go in order, playing the top card in their deck to the top of the pile until somebody reaches 52 cards (the winning condition of the game).
      </li>
      <li>
        At any time, players can gain cards by "slapping" the pile - in which case they either gain the pile or lose 3 cards based on the following conditions:
      </li>
      
        <ul>
          <li>
            If the top card of the pile is a Jack, the player gains the pile
          </li>
          <li>
            If the top two cards of the pile are of the same value (i.e., two Aces, two 10's, two 2's), the player gains the pile
          </li>
          <li>If the top card and third-to-top card are of the same value (sandwich - i.e. Ace-10-Ace, 7-Queen-7), the player gains the pile
          </li>
        </ul>
      
      <li>
        Otherwise, the player loses 3 cards on top of his or her pile to the bottom of the central pile
      </li>
      <li>
        Players can slap the pile even when it is not their turn.
      </li>
      <li>
        If multiple players slap the pile in close succession, all players except the first one lose 3 cards. The first player to slap will win or lose cards based on the conditions listed above.
      </li>
    </ul>

  </p>

</div>
  

